{% load static %}

<footer class="container-fluid bg-primary position: sticky; bottom: 0;">
    <div class="container text-light">
        <div class="row">
            <div class="d-flex justify-content-center">
                <span class="d-inline-block align-middle p-2 text-center">
                    <i class="fas fa-map-marker-alt"></i> Rua dos Sonhos, 123 - Brasil, 12345-6789
                </span>
                <span class="d-inline-block align-middle p-2 text-center">
                    <i class="fab fa-whatsapp"></i> (41) 3335-3134
                </span>

                <span class="d-inline-block align-middle p-2 text-center">
                    <i class="fas fa-phone-alt"></i> (41) 3014-3134
                </span>

                <span class="d-inline-block align-middle p-2 text-center">
                    <i class="fab fa-instagram"></i> @padariadossonhos
                </span>

                <span class="d-inline-block align-middle p-2 text-center">
                    <i class="fas fa-globe"></i> padariadossonhos.com.br
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="p-1 text-center">
                    <span class="align-middle p-1">Padaria dos Sonhos | Desenvolvido com Django | © 2023</span>
                </div>
            </div>
        </div>
    </div>

</footer>


<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js'%}"></script>
<script src="{% static 'assets/custom/js/scripts.js'%}"></script>


