{% extends 'base.html' %}
{% load omfilters %}

{% block titulo %}Produtos | {% endblock %}

{% block conteudo %}

    <div class="row">
        <div class="col-lg-10">
            <div class="card-columns">

                {% for produto in produtos %}

                <div class="card">

                    {% if produto.imagem %}
                    <a href="{% url 'produto:detalhe' produto.slug %}">
                        <img class="card-img-top img-fluid" style="width: 100%; height: 200px; object-fit: cover" src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                    </a>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title font-weight-bold text-center">{{ produto.nome }}</h5>
                        <p class="card-text text-center">{{ produto.descricao }}</p>
                        <div class="container product-price-block text-center">

                            {% if produto.preco_promocional %}
                            <span class="product-price text-center">
                                {{ produto.preco_promocional|formata_preco }}
                            </span>
                            <span class="product-old-price text-muted text-center">
                                {{ produto.preco|formata_preco }}
                            </span>
                            {% else %}
                            <span class="product-price text-center">
                                {{ produto.preco|formata_preco }}
                            </span>
                            {% endif %}

                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-top-light-custom text-center">
                        <a href="{% url 'produto:detalhe' produto.slug %}" class="btn btn-primary btn-sm m-1 btn-block">
                            Detalhes
                        </a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            {% include 'parciais/_pagination.html' %}
        </div>
    </div>

{% endblock %}
